<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641765433046-04fuu4ubccnlcghc21o4574pfm0cck2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641765433046-04fuu4ubccnlcghc21o4574pfm0cck2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmNUMePUuU-RtqCFCLSGp3mkUEEjMeb4</string>
	<key>GCM_SENDER_ID</key>
	<string>641765433046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmmoond8.highball</string>
	<key>PROJECT_ID</key>
	<string>highball-ed204</string>
	<key>STORAGE_BUCKET</key>
	<string>highball-ed204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641765433046:ios:27799053165a9a1ed3f377</string>
</dict>
</plist>